.filterpanel{ background:url("filterpanel.png") top left no-repeat; }
.up-btn-close-x{ width:28px; height:22px; background-position:-10px -10px; }
.up-btn-filter-open{ width:28px; height:28px; background-position:-10px -42px; }
.up-btn-filter-count-badge{ width:13px; height:13px; background-position:-10px -80px; }
.up-btn-filter{ width:28px; height:28px; background-position:-10px -103px; }
