<div class="up-filterpanel-header">
	<div class="up-filterpanel-title pull-left">{{label}}</div><div class="up-filterpanel-result pull-left"></div>
	<div class="pull-right">
		<button role="button" data-action="clear-all" class="btn-link">{{clearAllLabel}}</button>
		<button data-action="close" class="btn up-btn-close-x">close</button>
	</div>
</div>
<div class="up-selectlist">{{{selectlist}}}</div>