<div class="up-filterpanel-header">
	<span class="up-filterpanel-title">{{label}}</span><span class="up-filterpanel-result"></span>
	<button role="button" data-action="clear-all" class="btn-link">{{clearAllLabel}}</button>
</div>
<div class="up-selectlist"></div>