<div class="up-filterpanel-header">
	<span class="up-filterpanel-title">{{label}}</span><span class="up-filterpanel-result"></span>
	<span class="pull-right">
		<button role="button" data-action="clear-all" class="btn-link">{{clearAllLabel}}</button>
		<button data-action="close" class="btn up-btn-close-x">close</button>
	</span>
</div>
<div class="up-selectlist"></div>