<div class="filter-header">
	<span class="filter-title">{{label}}</span><span class="result-count"></span>
	<button data-action="clear-all" class="btn-link">{{clearAllLabel}}</button>
</div>
<div class="selectlist"></div>