.upcycle-portal {
    .btn-link {
        padding: 0 2px;
        border: none;
    }
    .up-btn-close-x {
        text-indent: -99999px;
        background:url("img/filterpanel.png") top left no-repeat;
        width:28px;
        height:22px;
        background-position:-10px -10px;
        background-color: transparent;
        border: none;
        box-shadow: none;
    }
    .up-btn-filter {
    	background: #fff url("img/filterpanel.png") top left no-repeat;
        width:28px;
        height:28px;
        background-position:-11px -103px;
        text-indent: -99999px;
    }
    .open{
	    .up-btn-filter {
	        width:28px;
	        height:28px;
	        background-color: @grayLighter;
	        background-position:-11px -42px;
	    }
    }
    .up-btn-filter-count-badge {
        width:13px;
        height:13px;
        background-position:-10px -80px;
    }
}