.upcycle-portal{
	.up-facetlist{
		font-size: 12px;
		[role="label"]{
			display:block;
			float:left;
			margin-right: 5px;
			line-height: 29px;
		}
		.up-facets{
			float:left;
			margin: 0;
			padding: 0;
			max-width: 80%;
		}
		.up-facet{
			float:left;
			background: white;
			margin: 0 5px 5px 0;
			padding: 4px 0px 4px 8px;
			color: @grayLight;
			border-radius:3px;
		}
	}
}