.upcycle-portal{
	.up-filterpanel{
		@toggle-arrow-size: 4px;
		width: 275px;
		.border-radius(4px);
		.box-shadow(0 0 3px 1px rgba(0, 0, 0, 0.1));
		#gradient.vertical(#fff, #F5F5F4);
		padding: 12px 12px 20px;
		.up-filterpanel-header{
			padding: 1px 0;
		}
		.up-filterpanel-title{
			font-size: 1.4em;
		}
		.up-filterpanel-result{
			color: @gray;
		}
		.up-selectlist{
			width: 100%;
			.viewport{
				max-height: 200px; 
			}
			.overview{
			}
			.divider{
				margin: 5px 0;
				border-bottom: solid 1px @grayLighter;
			}
		}
	}
}