.popover.upcycle-hover_tooltip {
	font-family: inherit;
	font-size: 11px;
	color: #666;
	line-height: 14px;
	background-color: #FFF;
	border-radius: 3px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.30);
	padding: 8px 16px;
	.popover-title {
		font-weight: bold;
	}
}

.popover .arrow {
	border-width: 11px 9px;
	&:after {
		border-width: 10px 8px;
	}
}

.popover.top .arrow {
	margin-left: -8px;
	&:after {
		margin-left: -8px;
	}
}

.popover.right .arrow {
	margin-top: -8px;
	border-width: 8px 10px 8px 0;
	&:after {
		bottom: -9px;
		border-width: 9px 11px 9px 0;
	}
}

.popover.bottom .arrow {
	margin-left: -8px;
	&:after {
		margin-left: -8px;
	}
}

.popover.left .arrow {
	margin-top: -8px;
	border-width: 8px 0 8px 10px;
	&:after {
		bottom: -9px;
		border-width: 9px 0 9px 11px;
	}
}