@scrollbar-width: 8px;
@bg-color: #ccc;
.popover.upcycle-hover_tooltip {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666;
	background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0 0 7px rgba(0,0,0,.3);	
	.popover-content {
		padding: 15px;
		.scroll-area{
			position: relative;
			.scrollbar{
			    position:absolute;
			    z-index: 1;
			    top:0;
			    right:0px;
			    width:@scrollbar-width;
			    .track{
				    height:100%;
				    width:@scrollbar-width;
				    position:relative;
				    .thumb{
					    height:20px;
					    width:@scrollbar-width;
					    background-color: @bg-color;
					    cursor:pointer;
					    position:absolute;
					    top:0;
					    border-radius: 5px;
					}
				}
				&.disable {
					display: none;
				}
			}
			.viewport {
				overflow: hidden;
				position: relative;
			}
		}
	}
}