.filter{
	width: 275px;
	.inner{ 
		padding: 12px 12px 20px;
		.border-radius(4px);
		.box-shadow(0 0 3px 1px rgba(0, 0, 0, 0.1));
		#gradient.vertical(#fff, #F5F5F4);  
	}
	ul{
		list-style: none;
		margin: 0;
	}
}