.upcycle-filterpanel{
	.up-filterpanel-header{
		overflow: hidden;
		>.pull-left{
			max-width: 60%;
			margin-right: 5px;
			span{
				max-width: 100%;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
}
