.upcycle-hover_tooltip_list {
	.popover-content {
		overflow: hidden;
		max-height: 150px;
	}
	.scroll-area{
		.scrollbar{
			@scrollbar-width: 6px;
		    position:absolute;
		    z-index: 1;
		    top:0;
		    right:6px;
		    width:@scrollbar-width;
		    .track{
			    height:100%;
			    width:@scrollbar-width;
			    position:relative;
			    .thumb{
				    height:20px;
				    width:@scrollbar-width;
				    cursor:pointer;
				    position:absolute;
				    top:0;
				}
			}
		}
	}
}