body {
  padding: 50px;
  background-color: #ececec;
}
button[data-action="toggle-theme"] {
  margin-bottom: 20px;
}
#examples {
  overflow: hidden;
}
.up-selectlist,
.up-filterpanel {
  float: left;
}
